/* 阿里全局矢量图 */
@import url("//at.alicdn.com/t/font_2102225_1kzd6uwfb75j.css");

.docsify-copy-code-button {
  right: 10px !important;
}

.iframe-top {
  position: fixed;
  right: 0;
  bottom: 33%;
  z-index: 10;
  animation-fill-mode: forwards;
}

@keyframes cat {
  from {
    bottom: 33%;
  }

  to {
    bottom: 70%;
  }
}

@media screen and (max-width: 500px) {
  .iframe-top {
    display: none;
  }

  #topCat {
    display: none;
  }
}
