/* 自定义代码块 */
/* 边框 */
.markdown-section pre {
    background-color: #2d2d2d;
    border-radius: 5px;
}

/* 背景 */
.markdown-section pre>code {
    background-color: #2d2d2d;
    color: #ffffff;
}

.token.function,
.token.keyword {
    color: #79dcfb;
}

/* 标点 */
.token.punctuation {
    color: #fff;
}

.token.placeholder,
.token.variable {
    color: #ffee06;
}

.token.boolean,
.token.number {
    color: #fb0000;
}

.token.string {
    color: #00de65;
}