body {
    /* background:linear-gradient(120deg,#ffffff,#fbf4fa); */
}

.jokerLogo {
    -webkit-animation: logo 10000ms infinite;
    animation: logo 10000ms infinite;
    transition: all 1s;
}

/* .jokerLogo:hover {
    transition: all 2s;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
} */

@keyframes logo {
    0% {
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
    }

    10% {
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    }

    20% {
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    }

    30% {
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    }

    40% {
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    }

    50% {
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    }

    60% {
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    }

    70% {
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    }

    80% {
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    }

    90% {
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    }

    100% {
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
    }
}

.pay {
    /* border: 1px solid #22a5ab; */
}

.cover {
    position: fixed;
    display: none;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #5050502e;
    z-index: 1000;
    text-align: center;
}

.cover>img {
    position: absolute;
    top: 50%;
    /* left:calc(50% + 150px); */
    left: 50%;
    transform: translate(-50%, -50%);
}

.ball {
    position: absolute;
    top: calc(50% - 500px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    -webkit-clip-path: circle(200px at center);
    clip-path: circle(200px at center);
}

.star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    background: #fff;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    -webkit-animation: bling 6000ms linear infinite;
    animation: bling 6000ms linear infinite;
}

.star:nth-child(1) {
    top: calc(50% - -2px);
    left: calc(50% - -90px);
    -webkit-animation-delay: -3632ms;
    animation-delay: -3632ms;
}

.star:nth-child(2) {
    top: calc(50% - -136px);
    left: calc(50% - 155px);
    -webkit-animation-delay: -1046ms;
    animation-delay: -1046ms;
}

.star:nth-child(3) {
    top: calc(50% - 167px);
    left: calc(50% - 15px);
    -webkit-animation-delay: -3030ms;
    animation-delay: -3030ms;
}

.star:nth-child(4) {
    top: calc(50% - 87px);
    left: calc(50% - -128px);
    -webkit-animation-delay: -2868ms;
    animation-delay: -2868ms;
}

.star:nth-child(5) {
    top: calc(50% - -66px);
    left: calc(50% - 168px);
    -webkit-animation-delay: -1338ms;
    animation-delay: -1338ms;
}

.star:nth-child(6) {
    top: calc(50% - -144px);
    left: calc(50% - -45px);
    -webkit-animation-delay: -4263ms;
    animation-delay: -4263ms;
}

.star:nth-child(7) {
    top: calc(50% - -16px);
    left: calc(50% - 38px);
    -webkit-animation-delay: -3489ms;
    animation-delay: -3489ms;
}

.star:nth-child(8) {
    top: calc(50% - -185px);
    left: calc(50% - -135px);
    -webkit-animation-delay: -5754ms;
    animation-delay: -5754ms;
}

.star:nth-child(9) {
    top: calc(50% - -77px);
    left: calc(50% - 69px);
    -webkit-animation-delay: -4581ms;
    animation-delay: -4581ms;
}

.star:nth-child(10) {
    top: calc(50% - 128px);
    left: calc(50% - 161px);
    -webkit-animation-delay: -4444ms;
    animation-delay: -4444ms;
}

.star:nth-child(11) {
    top: calc(50% - 182px);
    left: calc(50% - -65px);
    -webkit-animation-delay: -1471ms;
    animation-delay: -1471ms;
}

.star:nth-child(12) {
    top: calc(50% - 91px);
    left: calc(50% - -25px);
    -webkit-animation-delay: -2771ms;
    animation-delay: -2771ms;
}

.star:nth-child(13) {
    top: calc(50% - 32px);
    left: calc(50% - -156px);
    -webkit-animation-delay: -2720ms;
    animation-delay: -2720ms;
}

.star:nth-child(14) {
    top: calc(50% - 46px);
    left: calc(50% - 175px);
    -webkit-animation-delay: -4901ms;
    animation-delay: -4901ms;
}

.star:nth-child(15) {
    top: calc(50% - 92px);
    left: calc(50% - -116px);
    -webkit-animation-delay: -1342ms;
    animation-delay: -1342ms;
}

.star:nth-child(16) {
    top: calc(50% - -72px);
    left: calc(50% - -144px);
    -webkit-animation-delay: -1773ms;
    animation-delay: -1773ms;
}

.star:nth-child(17) {
    top: calc(50% - -169px);
    left: calc(50% - -95px);
    -webkit-animation-delay: -4378ms;
    animation-delay: -4378ms;
}

.star:nth-child(18) {
    top: calc(50% - -173px);
    left: calc(50% - -12px);
    -webkit-animation-delay: -3569ms;
    animation-delay: -3569ms;
}

.star:nth-child(19) {
    top: calc(50% - -144px);
    left: calc(50% - -58px);
    -webkit-animation-delay: -941ms;
    animation-delay: -941ms;
}

.star:nth-child(20) {
    top: calc(50% - 65px);
    left: calc(50% - -144px);
    -webkit-animation-delay: -218ms;
    animation-delay: -218ms;
}

.star:nth-child(21) {
    top: calc(50% - 154px);
    left: calc(50% - -138px);
    -webkit-animation-delay: -1936ms;
    animation-delay: -1936ms;
}

.star:nth-child(22) {
    top: calc(50% - -159px);
    left: calc(50% - -107px);
    -webkit-animation-delay: -399ms;
    animation-delay: -399ms;
}

.star:nth-child(23) {
    top: calc(50% - -23px);
    left: calc(50% - 171px);
    -webkit-animation-delay: -4477ms;
    animation-delay: -4477ms;
}

.star:nth-child(24) {
    top: calc(50% - -168px);
    left: calc(50% - -107px);
    -webkit-animation-delay: -3210ms;
    animation-delay: -3210ms;
}

.star:nth-child(25) {
    top: calc(50% - -58px);
    left: calc(50% - 114px);
    -webkit-animation-delay: -2304ms;
    animation-delay: -2304ms;
}

.star:nth-child(26) {
    top: calc(50% - 72px);
    left: calc(50% - -184px);
    -webkit-animation-delay: -1035ms;
    animation-delay: -1035ms;
}

.star:nth-child(27) {
    top: calc(50% - 181px);
    left: calc(50% - -61px);
    -webkit-animation-delay: -1254ms;
    animation-delay: -1254ms;
}

.star:nth-child(28) {
    top: calc(50% - -37px);
    left: calc(50% - -114px);
    -webkit-animation-delay: -5945ms;
    animation-delay: -5945ms;
}

.star:nth-child(29) {
    top: calc(50% - 152px);
    left: calc(50% - -97px);
    -webkit-animation-delay: -3516ms;
    animation-delay: -3516ms;
}

.star:nth-child(30) {
    top: calc(50% - -177px);
    left: calc(50% - -109px);
    -webkit-animation-delay: -2581ms;
    animation-delay: -2581ms;
}

.star:nth-child(31) {
    top: calc(50% - 190px);
    left: calc(50% - -68px);
    -webkit-animation-delay: -3331ms;
    animation-delay: -3331ms;
}

.star:nth-child(32) {
    top: calc(50% - 189px);
    left: calc(50% - 124px);
    -webkit-animation-delay: -2145ms;
    animation-delay: -2145ms;
}

.star:nth-child(33) {
    top: calc(50% - 172px);
    left: calc(50% - -59px);
    -webkit-animation-delay: -3662ms;
    animation-delay: -3662ms;
}

.star:nth-child(34) {
    top: calc(50% - -154px);
    left: calc(50% - -125px);
    -webkit-animation-delay: -3613ms;
    animation-delay: -3613ms;
}

.star:nth-child(35) {
    top: calc(50% - 149px);
    left: calc(50% - 43px);
    -webkit-animation-delay: -4333ms;
    animation-delay: -4333ms;
}

.star:nth-child(36) {
    top: calc(50% - 134px);
    left: calc(50% - 84px);
    -webkit-animation-delay: -3295ms;
    animation-delay: -3295ms;
}

.star:nth-child(37) {
    top: calc(50% - 199px);
    left: calc(50% - 105px);
    -webkit-animation-delay: -929ms;
    animation-delay: -929ms;
}

.star:nth-child(38) {
    top: calc(50% - -65px);
    left: calc(50% - 20px);
    -webkit-animation-delay: -2593ms;
    animation-delay: -2593ms;
}

.star:nth-child(39) {
    top: calc(50% - -163px);
    left: calc(50% - -182px);
    -webkit-animation-delay: -2906ms;
    animation-delay: -2906ms;
}

.star:nth-child(40) {
    top: calc(50% - -122px);
    left: calc(50% - 30px);
    -webkit-animation-delay: -1358ms;
    animation-delay: -1358ms;
}

.star:nth-child(41) {
    top: calc(50% - 62px);
    left: calc(50% - -99px);
    -webkit-animation-delay: -189ms;
    animation-delay: -189ms;
}

.star:nth-child(42) {
    top: calc(50% - 18px);
    left: calc(50% - -69px);
    -webkit-animation-delay: -5152ms;
    animation-delay: -5152ms;
}

.star:nth-child(43) {
    top: calc(50% - -12px);
    left: calc(50% - 49px);
    -webkit-animation-delay: -4272ms;
    animation-delay: -4272ms;
}

.star:nth-child(44) {
    top: calc(50% - -35px);
    left: calc(50% - 173px);
    -webkit-animation-delay: -2068ms;
    animation-delay: -2068ms;
}

.star:nth-child(45) {
    top: calc(50% - 180px);
    left: calc(50% - 98px);
    -webkit-animation-delay: -2673ms;
    animation-delay: -2673ms;
}

.star:nth-child(46) {
    top: calc(50% - -103px);
    left: calc(50% - -3px);
    -webkit-animation-delay: -1889ms;
    animation-delay: -1889ms;
}

.star:nth-child(47) {
    top: calc(50% - -138px);
    left: calc(50% - 91px);
    -webkit-animation-delay: -2492ms;
    animation-delay: -2492ms;
}

.star:nth-child(48) {
    top: calc(50% - 51px);
    left: calc(50% - 103px);
    -webkit-animation-delay: -3048ms;
    animation-delay: -3048ms;
}

.star:nth-child(49) {
    top: calc(50% - -104px);
    left: calc(50% - 20px);
    -webkit-animation-delay: -234ms;
    animation-delay: -234ms;
}

.star:nth-child(50) {
    top: calc(50% - -126px);
    left: calc(50% - -37px);
    -webkit-animation-delay: -4585ms;
    animation-delay: -4585ms;
}

.star:nth-child(51) {
    top: calc(50% - 87px);
    left: calc(50% - -37px);
    -webkit-animation-delay: -2195ms;
    animation-delay: -2195ms;
}

.star:nth-child(52) {
    top: calc(50% - 102px);
    left: calc(50% - 7px);
    -webkit-animation-delay: -167ms;
    animation-delay: -167ms;
}

.star:nth-child(53) {
    top: calc(50% - 71px);
    left: calc(50% - 87px);
    -webkit-animation-delay: -2715ms;
    animation-delay: -2715ms;
}

.star:nth-child(54) {
    top: calc(50% - 48px);
    left: calc(50% - 151px);
    -webkit-animation-delay: -786ms;
    animation-delay: -786ms;
}

.star:nth-child(55) {
    top: calc(50% - -79px);
    left: calc(50% - -55px);
    -webkit-animation-delay: -3856ms;
    animation-delay: -3856ms;
}

.star:nth-child(56) {
    top: calc(50% - 24px);
    left: calc(50% - 152px);
    -webkit-animation-delay: -215ms;
    animation-delay: -215ms;
}

.star:nth-child(57) {
    top: calc(50% - 75px);
    left: calc(50% - -149px);
    -webkit-animation-delay: -101ms;
    animation-delay: -101ms;
}

.star:nth-child(58) {
    top: calc(50% - 94px);
    left: calc(50% - 31px);
    -webkit-animation-delay: -2331ms;
    animation-delay: -2331ms;
}

.star:nth-child(59) {
    top: calc(50% - 56px);
    left: calc(50% - 57px);
    -webkit-animation-delay: -804ms;
    animation-delay: -804ms;
}

.star:nth-child(60) {
    top: calc(50% - -76px);
    left: calc(50% - -126px);
    -webkit-animation-delay: -2359ms;
    animation-delay: -2359ms;
}

.star:nth-child(61) {
    top: calc(50% - -6px);
    left: calc(50% - 141px);
    -webkit-animation-delay: -4577ms;
    animation-delay: -4577ms;
}

.star:nth-child(62) {
    top: calc(50% - 37px);
    left: calc(50% - -185px);
    -webkit-animation-delay: -208ms;
    animation-delay: -208ms;
}

.star:nth-child(63) {
    top: calc(50% - -131px);
    left: calc(50% - 105px);
    -webkit-animation-delay: -5661ms;
    animation-delay: -5661ms;
}

.star:nth-child(64) {
    top: calc(50% - 83px);
    left: calc(50% - 64px);
    -webkit-animation-delay: -208ms;
    animation-delay: -208ms;
}

.star:nth-child(65) {
    top: calc(50% - -195px);
    left: calc(50% - 148px);
    -webkit-animation-delay: -3202ms;
    animation-delay: -3202ms;
}

.star:nth-child(66) {
    top: calc(50% - -117px);
    left: calc(50% - -101px);
    -webkit-animation-delay: -4989ms;
    animation-delay: -4989ms;
}

.star:nth-child(67) {
    top: calc(50% - 49px);
    left: calc(50% - 198px);
    -webkit-animation-delay: -1970ms;
    animation-delay: -1970ms;
}

.star:nth-child(68) {
    top: calc(50% - 114px);
    left: calc(50% - 129px);
    -webkit-animation-delay: -1860ms;
    animation-delay: -1860ms;
}

.star:nth-child(69) {
    top: calc(50% - 82px);
    left: calc(50% - -155px);
    -webkit-animation-delay: -3254ms;
    animation-delay: -3254ms;
}

.star:nth-child(70) {
    top: calc(50% - 135px);
    left: calc(50% - -193px);
    -webkit-animation-delay: -4693ms;
    animation-delay: -4693ms;
}

.star:nth-child(71) {
    top: calc(50% - -187px);
    left: calc(50% - 70px);
    -webkit-animation-delay: -4012ms;
    animation-delay: -4012ms;
}

.star:nth-child(72) {
    top: calc(50% - -29px);
    left: calc(50% - -28px);
    -webkit-animation-delay: -5077ms;
    animation-delay: -5077ms;
}

.star:nth-child(73) {
    top: calc(50% - -95px);
    left: calc(50% - 188px);
    -webkit-animation-delay: -116ms;
    animation-delay: -116ms;
}

.star:nth-child(74) {
    top: calc(50% - -15px);
    left: calc(50% - -9px);
    -webkit-animation-delay: -4008ms;
    animation-delay: -4008ms;
}

.star:nth-child(75) {
    top: calc(50% - -28px);
    left: calc(50% - -132px);
    -webkit-animation-delay: -4030ms;
    animation-delay: -4030ms;
}

.star:nth-child(76) {
    top: calc(50% - 120px);
    left: calc(50% - 66px);
    -webkit-animation-delay: -1295ms;
    animation-delay: -1295ms;
}

.star:nth-child(77) {
    top: calc(50% - 199px);
    left: calc(50% - 114px);
    -webkit-animation-delay: -4476ms;
    animation-delay: -4476ms;
}

.star:nth-child(78) {
    top: calc(50% - -7px);
    left: calc(50% - -121px);
    -webkit-animation-delay: -3677ms;
    animation-delay: -3677ms;
}

.star:nth-child(79) {
    top: calc(50% - -166px);
    left: calc(50% - -128px);
    -webkit-animation-delay: -4286ms;
    animation-delay: -4286ms;
}

.star:nth-child(80) {
    top: calc(50% - -108px);
    left: calc(50% - 185px);
    -webkit-animation-delay: -4ms;
    animation-delay: -4ms;
}

.star:nth-child(81) {
    top: calc(50% - 107px);
    left: calc(50% - -103px);
    -webkit-animation-delay: -4059ms;
    animation-delay: -4059ms;
}

.star:nth-child(82) {
    top: calc(50% - 182px);
    left: calc(50% - 146px);
    -webkit-animation-delay: -394ms;
    animation-delay: -394ms;
}

.star:nth-child(83) {
    top: calc(50% - -36px);
    left: calc(50% - -137px);
    -webkit-animation-delay: -2739ms;
    animation-delay: -2739ms;
}

.star:nth-child(84) {
    top: calc(50% - -110px);
    left: calc(50% - 191px);
    -webkit-animation-delay: -750ms;
    animation-delay: -750ms;
}

.star:nth-child(85) {
    top: calc(50% - -42px);
    left: calc(50% - -60px);
    -webkit-animation-delay: -2552ms;
    animation-delay: -2552ms;
}

.star:nth-child(86) {
    top: calc(50% - -66px);
    left: calc(50% - -118px);
    -webkit-animation-delay: -239ms;
    animation-delay: -239ms;
}

.star:nth-child(87) {
    top: calc(50% - 26px);
    left: calc(50% - -95px);
    -webkit-animation-delay: -3426ms;
    animation-delay: -3426ms;
}

.star:nth-child(88) {
    top: calc(50% - -128px);
    left: calc(50% - 8px);
    -webkit-animation-delay: -2189ms;
    animation-delay: -2189ms;
}

.star:nth-child(89) {
    top: calc(50% - -154px);
    left: calc(50% - 45px);
    -webkit-animation-delay: -5599ms;
    animation-delay: -5599ms;
}

.star:nth-child(90) {
    top: calc(50% - 161px);
    left: calc(50% - 72px);
    -webkit-animation-delay: -182ms;
    animation-delay: -182ms;
}

.star:nth-child(91) {
    top: calc(50% - 134px);
    left: calc(50% - 59px);
    -webkit-animation-delay: -1378ms;
    animation-delay: -1378ms;
}

.star:nth-child(92) {
    top: calc(50% - 144px);
    left: calc(50% - 97px);
    -webkit-animation-delay: -2252ms;
    animation-delay: -2252ms;
}

.star:nth-child(93) {
    top: calc(50% - -70px);
    left: calc(50% - 13px);
    -webkit-animation-delay: -2387ms;
    animation-delay: -2387ms;
}

.star:nth-child(94) {
    top: calc(50% - -16px);
    left: calc(50% - 58px);
    -webkit-animation-delay: -2179ms;
    animation-delay: -2179ms;
}

.star:nth-child(95) {
    top: calc(50% - 88px);
    left: calc(50% - 189px);
    -webkit-animation-delay: -387ms;
    animation-delay: -387ms;
}

.star:nth-child(96) {
    top: calc(50% - -169px);
    left: calc(50% - -65px);
    -webkit-animation-delay: -1729ms;
    animation-delay: -1729ms;
}

.star:nth-child(97) {
    top: calc(50% - 193px);
    left: calc(50% - 94px);
    -webkit-animation-delay: -5145ms;
    animation-delay: -5145ms;
}

.star:nth-child(98) {
    top: calc(50% - 186px);
    left: calc(50% - 85px);
    -webkit-animation-delay: -4122ms;
    animation-delay: -4122ms;
}

.star:nth-child(99) {
    top: calc(50% - -176px);
    left: calc(50% - 83px);
    -webkit-animation-delay: -3393ms;
    animation-delay: -3393ms;
}

.star:nth-child(100) {
    top: calc(50% - -72px);
    left: calc(50% - -193px);
    -webkit-animation-delay: -4192ms;
    animation-delay: -4192ms;
}

.star:nth-child(101) {
    top: calc(50% - 45px);
    left: calc(50% - -128px);
    -webkit-animation-delay: -3072ms;
    animation-delay: -3072ms;
}

.star:nth-child(102) {
    top: calc(50% - -81px);
    left: calc(50% - 31px);
    -webkit-animation-delay: -921ms;
    animation-delay: -921ms;
}

.star:nth-child(103) {
    top: calc(50% - 30px);
    left: calc(50% - -40px);
    -webkit-animation-delay: -5952ms;
    animation-delay: -5952ms;
}

.star:nth-child(104) {
    top: calc(50% - 170px);
    left: calc(50% - 118px);
    -webkit-animation-delay: -5050ms;
    animation-delay: -5050ms;
}

.star:nth-child(105) {
    top: calc(50% - 168px);
    left: calc(50% - -28px);
    -webkit-animation-delay: -5795ms;
    animation-delay: -5795ms;
}

.star:nth-child(106) {
    top: calc(50% - 20px);
    left: calc(50% - -169px);
    -webkit-animation-delay: -5843ms;
    animation-delay: -5843ms;
}

.star:nth-child(107) {
    top: calc(50% - -32px);
    left: calc(50% - -62px);
    -webkit-animation-delay: -5774ms;
    animation-delay: -5774ms;
}

.star:nth-child(108) {
    top: calc(50% - 84px);
    left: calc(50% - 62px);
    -webkit-animation-delay: -3829ms;
    animation-delay: -3829ms;
}

.star:nth-child(109) {
    top: calc(50% - -26px);
    left: calc(50% - -127px);
    -webkit-animation-delay: -1961ms;
    animation-delay: -1961ms;
}

.star:nth-child(110) {
    top: calc(50% - 49px);
    left: calc(50% - 136px);
    -webkit-animation-delay: -5194ms;
    animation-delay: -5194ms;
}

.star:nth-child(111) {
    top: calc(50% - -165px);
    left: calc(50% - 158px);
    -webkit-animation-delay: -2244ms;
    animation-delay: -2244ms;
}

.star:nth-child(112) {
    top: calc(50% - 148px);
    left: calc(50% - -153px);
    -webkit-animation-delay: -979ms;
    animation-delay: -979ms;
}

.star:nth-child(113) {
    top: calc(50% - 160px);
    left: calc(50% - 75px);
    -webkit-animation-delay: -2984ms;
    animation-delay: -2984ms;
}

.star:nth-child(114) {
    top: calc(50% - 138px);
    left: calc(50% - -68px);
    -webkit-animation-delay: -2771ms;
    animation-delay: -2771ms;
}

.star:nth-child(115) {
    top: calc(50% - 33px);
    left: calc(50% - -119px);
    -webkit-animation-delay: -5950ms;
    animation-delay: -5950ms;
}

.star:nth-child(116) {
    top: calc(50% - -164px);
    left: calc(50% - 24px);
    -webkit-animation-delay: -2584ms;
    animation-delay: -2584ms;
}

.star:nth-child(117) {
    top: calc(50% - 91px);
    left: calc(50% - -122px);
    -webkit-animation-delay: -2670ms;
    animation-delay: -2670ms;
}

.star:nth-child(118) {
    top: calc(50% - 95px);
    left: calc(50% - -1px);
    -webkit-animation-delay: -5134ms;
    animation-delay: -5134ms;
}

.star:nth-child(119) {
    top: calc(50% - -23px);
    left: calc(50% - 63px);
    -webkit-animation-delay: -3037ms;
    animation-delay: -3037ms;
}

.star:nth-child(120) {
    top: calc(50% - 148px);
    left: calc(50% - 110px);
    -webkit-animation-delay: -4091ms;
    animation-delay: -4091ms;
}

.star:nth-child(121) {
    top: calc(50% - 200px);
    left: calc(50% - -76px);
    -webkit-animation-delay: -1061ms;
    animation-delay: -1061ms;
}

.star:nth-child(122) {
    top: calc(50% - -87px);
    left: calc(50% - -14px);
    -webkit-animation-delay: -554ms;
    animation-delay: -554ms;
}

.star:nth-child(123) {
    top: calc(50% - -104px);
    left: calc(50% - 66px);
    -webkit-animation-delay: -1024ms;
    animation-delay: -1024ms;
}

.star:nth-child(124) {
    top: calc(50% - 64px);
    left: calc(50% - 10px);
    -webkit-animation-delay: -5906ms;
    animation-delay: -5906ms;
}

.star:nth-child(125) {
    top: calc(50% - -23px);
    left: calc(50% - 134px);
    -webkit-animation-delay: -1521ms;
    animation-delay: -1521ms;
}

.star:nth-child(126) {
    top: calc(50% - -113px);
    left: calc(50% - 167px);
    -webkit-animation-delay: -5043ms;
    animation-delay: -5043ms;
}

.star:nth-child(127) {
    top: calc(50% - -7px);
    left: calc(50% - -85px);
    -webkit-animation-delay: -3691ms;
    animation-delay: -3691ms;
}

.star:nth-child(128) {
    top: calc(50% - 142px);
    left: calc(50% - 197px);
    -webkit-animation-delay: -978ms;
    animation-delay: -978ms;
}

.star:nth-child(129) {
    top: calc(50% - -81px);
    left: calc(50% - 158px);
    -webkit-animation-delay: -4181ms;
    animation-delay: -4181ms;
}

.star:nth-child(130) {
    top: calc(50% - 32px);
    left: calc(50% - -109px);
    -webkit-animation-delay: -2179ms;
    animation-delay: -2179ms;
}

.star:nth-child(131) {
    top: calc(50% - 25px);
    left: calc(50% - 27px);
    -webkit-animation-delay: -5270ms;
    animation-delay: -5270ms;
}

.star:nth-child(132) {
    top: calc(50% - -76px);
    left: calc(50% - 17px);
    -webkit-animation-delay: -2146ms;
    animation-delay: -2146ms;
}

.star:nth-child(133) {
    top: calc(50% - 146px);
    left: calc(50% - -122px);
    -webkit-animation-delay: -5307ms;
    animation-delay: -5307ms;
}

.star:nth-child(134) {
    top: calc(50% - -100px);
    left: calc(50% - 15px);
    -webkit-animation-delay: -2782ms;
    animation-delay: -2782ms;
}

.star:nth-child(135) {
    top: calc(50% - 75px);
    left: calc(50% - -174px);
    -webkit-animation-delay: -4155ms;
    animation-delay: -4155ms;
}

.star:nth-child(136) {
    top: calc(50% - -143px);
    left: calc(50% - 121px);
    -webkit-animation-delay: -1538ms;
    animation-delay: -1538ms;
}

.star:nth-child(137) {
    top: calc(50% - -66px);
    left: calc(50% - -163px);
    -webkit-animation-delay: -5624ms;
    animation-delay: -5624ms;
}

.star:nth-child(138) {
    top: calc(50% - 129px);
    left: calc(50% - 82px);
    -webkit-animation-delay: -1881ms;
    animation-delay: -1881ms;
}

.star:nth-child(139) {
    top: calc(50% - -130px);
    left: calc(50% - -86px);
    -webkit-animation-delay: -2594ms;
    animation-delay: -2594ms;
}

.star:nth-child(140) {
    top: calc(50% - -44px);
    left: calc(50% - -82px);
    -webkit-animation-delay: -4536ms;
    animation-delay: -4536ms;
}

.star:nth-child(141) {
    top: calc(50% - 97px);
    left: calc(50% - 86px);
    -webkit-animation-delay: -5510ms;
    animation-delay: -5510ms;
}

.star:nth-child(142) {
    top: calc(50% - -26px);
    left: calc(50% - -113px);
    -webkit-animation-delay: -1185ms;
    animation-delay: -1185ms;
}

.star:nth-child(143) {
    top: calc(50% - 27px);
    left: calc(50% - -196px);
    -webkit-animation-delay: -34ms;
    animation-delay: -34ms;
}

.star:nth-child(144) {
    top: calc(50% - 104px);
    left: calc(50% - -199px);
    -webkit-animation-delay: -1836ms;
    animation-delay: -1836ms;
}

.star:nth-child(145) {
    top: calc(50% - 121px);
    left: calc(50% - 127px);
    -webkit-animation-delay: -4149ms;
    animation-delay: -4149ms;
}

.star:nth-child(146) {
    top: calc(50% - 9px);
    left: calc(50% - -152px);
    -webkit-animation-delay: -3090ms;
    animation-delay: -3090ms;
}

.star:nth-child(147) {
    top: calc(50% - -109px);
    left: calc(50% - 158px);
    -webkit-animation-delay: -1609ms;
    animation-delay: -1609ms;
}

.star:nth-child(148) {
    top: calc(50% - -184px);
    left: calc(50% - 24px);
    -webkit-animation-delay: -1956ms;
    animation-delay: -1956ms;
}

.star:nth-child(149) {
    top: calc(50% - -191px);
    left: calc(50% - -188px);
    -webkit-animation-delay: -3372ms;
    animation-delay: -3372ms;
}

.star:nth-child(150) {
    top: calc(50% - 150px);
    left: calc(50% - -131px);
    -webkit-animation-delay: -2407ms;
    animation-delay: -2407ms;
}

.star:nth-child(151) {
    top: calc(50% - 160px);
    left: calc(50% - 93px);
    -webkit-animation-delay: -3779ms;
    animation-delay: -3779ms;
}

.star:nth-child(152) {
    top: calc(50% - 121px);
    left: calc(50% - 188px);
    -webkit-animation-delay: -1601ms;
    animation-delay: -1601ms;
}

.star:nth-child(153) {
    top: calc(50% - 87px);
    left: calc(50% - 113px);
    -webkit-animation-delay: -5378ms;
    animation-delay: -5378ms;
}

.star:nth-child(154) {
    top: calc(50% - -66px);
    left: calc(50% - 135px);
    -webkit-animation-delay: -5701ms;
    animation-delay: -5701ms;
}

.star:nth-child(155) {
    top: calc(50% - -66px);
    left: calc(50% - -69px);
    -webkit-animation-delay: -482ms;
    animation-delay: -482ms;
}

.star:nth-child(156) {
    top: calc(50% - -4px);
    left: calc(50% - -157px);
    -webkit-animation-delay: -238ms;
    animation-delay: -238ms;
}

.star:nth-child(157) {
    top: calc(50% - 54px);
    left: calc(50% - -27px);
    -webkit-animation-delay: -4878ms;
    animation-delay: -4878ms;
}

.star:nth-child(158) {
    top: calc(50% - 26px);
    left: calc(50% - 183px);
    -webkit-animation-delay: -4847ms;
    animation-delay: -4847ms;
}

.star:nth-child(159) {
    top: calc(50% - -150px);
    left: calc(50% - -23px);
    -webkit-animation-delay: -2255ms;
    animation-delay: -2255ms;
}

.star:nth-child(160) {
    top: calc(50% - 137px);
    left: calc(50% - 61px);
    -webkit-animation-delay: -2019ms;
    animation-delay: -2019ms;
}

.star:nth-child(161) {
    top: calc(50% - 93px);
    left: calc(50% - -91px);
    -webkit-animation-delay: -4460ms;
    animation-delay: -4460ms;
}

.star:nth-child(162) {
    top: calc(50% - 33px);
    left: calc(50% - 108px);
    -webkit-animation-delay: -49ms;
    animation-delay: -49ms;
}

.star:nth-child(163) {
    top: calc(50% - 194px);
    left: calc(50% - -82px);
    -webkit-animation-delay: -764ms;
    animation-delay: -764ms;
}

.star:nth-child(164) {
    top: calc(50% - 69px);
    left: calc(50% - -51px);
    -webkit-animation-delay: -698ms;
    animation-delay: -698ms;
}

.star:nth-child(165) {
    top: calc(50% - 96px);
    left: calc(50% - 106px);
    -webkit-animation-delay: -5527ms;
    animation-delay: -5527ms;
}

.star:nth-child(166) {
    top: calc(50% - 191px);
    left: calc(50% - 128px);
    -webkit-animation-delay: -5338ms;
    animation-delay: -5338ms;
}

.star:nth-child(167) {
    top: calc(50% - 191px);
    left: calc(50% - 113px);
    -webkit-animation-delay: -5419ms;
    animation-delay: -5419ms;
}

.star:nth-child(168) {
    top: calc(50% - 47px);
    left: calc(50% - -80px);
    -webkit-animation-delay: -634ms;
    animation-delay: -634ms;
}

.star:nth-child(169) {
    top: calc(50% - 134px);
    left: calc(50% - -108px);
    -webkit-animation-delay: -4725ms;
    animation-delay: -4725ms;
}

.star:nth-child(170) {
    top: calc(50% - -184px);
    left: calc(50% - 53px);
    -webkit-animation-delay: -530ms;
    animation-delay: -530ms;
}

.star:nth-child(171) {
    top: calc(50% - 190px);
    left: calc(50% - 103px);
    -webkit-animation-delay: -2739ms;
    animation-delay: -2739ms;
}

.star:nth-child(172) {
    top: calc(50% - -75px);
    left: calc(50% - -82px);
    -webkit-animation-delay: -4509ms;
    animation-delay: -4509ms;
}

.star:nth-child(173) {
    top: calc(50% - 5px);
    left: calc(50% - -171px);
    -webkit-animation-delay: -5141ms;
    animation-delay: -5141ms;
}

.star:nth-child(174) {
    top: calc(50% - -70px);
    left: calc(50% - -175px);
    -webkit-animation-delay: -4917ms;
    animation-delay: -4917ms;
}

.star:nth-child(175) {
    top: calc(50% - 42px);
    left: calc(50% - -51px);
    -webkit-animation-delay: -5049ms;
    animation-delay: -5049ms;
}

.star:nth-child(176) {
    top: calc(50% - 175px);
    left: calc(50% - 181px);
    -webkit-animation-delay: -863ms;
    animation-delay: -863ms;
}

.star:nth-child(177) {
    top: calc(50% - 90px);
    left: calc(50% - 157px);
    -webkit-animation-delay: -865ms;
    animation-delay: -865ms;
}

.star:nth-child(178) {
    top: calc(50% - 163px);
    left: calc(50% - -171px);
    -webkit-animation-delay: -790ms;
    animation-delay: -790ms;
}

.star:nth-child(179) {
    top: calc(50% - -25px);
    left: calc(50% - -27px);
    -webkit-animation-delay: -1465ms;
    animation-delay: -1465ms;
}

.star:nth-child(180) {
    top: calc(50% - -27px);
    left: calc(50% - -98px);
    -webkit-animation-delay: -3250ms;
    animation-delay: -3250ms;
}

.star:nth-child(181) {
    top: calc(50% - -98px);
    left: calc(50% - -197px);
    -webkit-animation-delay: -1923ms;
    animation-delay: -1923ms;
}

.star:nth-child(182) {
    top: calc(50% - 137px);
    left: calc(50% - -55px);
    -webkit-animation-delay: -1728ms;
    animation-delay: -1728ms;
}

.star:nth-child(183) {
    top: calc(50% - -77px);
    left: calc(50% - 86px);
    -webkit-animation-delay: -2827ms;
    animation-delay: -2827ms;
}

.star:nth-child(184) {
    top: calc(50% - -167px);
    left: calc(50% - -151px);
    -webkit-animation-delay: -5230ms;
    animation-delay: -5230ms;
}

.star:nth-child(185) {
    top: calc(50% - 53px);
    left: calc(50% - -182px);
    -webkit-animation-delay: -340ms;
    animation-delay: -340ms;
}

.star:nth-child(186) {
    top: calc(50% - -111px);
    left: calc(50% - 148px);
    -webkit-animation-delay: -743ms;
    animation-delay: -743ms;
}

.star:nth-child(187) {
    top: calc(50% - -100px);
    left: calc(50% - 155px);
    -webkit-animation-delay: -3158ms;
    animation-delay: -3158ms;
}

.star:nth-child(188) {
    top: calc(50% - 86px);
    left: calc(50% - -23px);
    -webkit-animation-delay: -1196ms;
    animation-delay: -1196ms;
}

.star:nth-child(189) {
    top: calc(50% - 88px);
    left: calc(50% - 1px);
    -webkit-animation-delay: -2486ms;
    animation-delay: -2486ms;
}

.star:nth-child(190) {
    top: calc(50% - 26px);
    left: calc(50% - -171px);
    -webkit-animation-delay: -3707ms;
    animation-delay: -3707ms;
}

.star:nth-child(191) {
    top: calc(50% - 24px);
    left: calc(50% - -103px);
    -webkit-animation-delay: -1336ms;
    animation-delay: -1336ms;
}

.star:nth-child(192) {
    top: calc(50% - -194px);
    left: calc(50% - 57px);
    -webkit-animation-delay: -3990ms;
    animation-delay: -3990ms;
}

.star:nth-child(193) {
    top: calc(50% - -177px);
    left: calc(50% - 124px);
    -webkit-animation-delay: -3719ms;
    animation-delay: -3719ms;
}

.star:nth-child(194) {
    top: calc(50% - 169px);
    left: calc(50% - -91px);
    -webkit-animation-delay: -1149ms;
    animation-delay: -1149ms;
}

.star:nth-child(195) {
    top: calc(50% - 26px);
    left: calc(50% - -181px);
    -webkit-animation-delay: -3327ms;
    animation-delay: -3327ms;
}

.star:nth-child(196) {
    top: calc(50% - -11px);
    left: calc(50% - 130px);
    -webkit-animation-delay: -2319ms;
    animation-delay: -2319ms;
}

.star:nth-child(197) {
    top: calc(50% - -102px);
    left: calc(50% - 146px);
    -webkit-animation-delay: -4520ms;
    animation-delay: -4520ms;
}

.star:nth-child(198) {
    top: calc(50% - -11px);
    left: calc(50% - -44px);
    -webkit-animation-delay: -2312ms;
    animation-delay: -2312ms;
}

.star:nth-child(199) {
    top: calc(50% - 191px);
    left: calc(50% - -101px);
    -webkit-animation-delay: -5397ms;
    animation-delay: -5397ms;
}

.star:nth-child(200) {
    top: calc(50% - -123px);
    left: calc(50% - -13px);
    -webkit-animation-delay: -4097ms;
    animation-delay: -4097ms;
}

@-webkit-keyframes bling {
    0% {
        -webkit-transform: scale(0) translateY(-300px);
        transform: scale(0) translateY(-300px);
        background: #ff00ff;
    }

    50% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        background: #ffffff;
    }

    100% {
        -webkit-transform: scale(0) translateY(300px);
        transform: scale(0) translateY(300px);
        background: #0000ff;
    }
}

@keyframes bling {
    0% {
        -webkit-transform: scale(0) translateY(-300px);
        transform: scale(0) translateY(-300px);
        background: #ff0000;
    }

    50% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        background: #72ffcc;
    }

    100% {
        -webkit-transform: scale(0) translateY(300px);
        transform: scale(0) translateY(300px);
        background: #ff2500;
    }
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translateY(200px) scale(0);
        transform: translateY(200px) scale(0);
        background: #ff00ff;
    }

    50% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        background: #ffffff;
    }

    100% {
        -webkit-transform: translateY(-200px) scale(0);
        transform: translateY(-200px) scale(0);
        background: #0000ff;
    }
}

@keyframes move {
    0% {
        -webkit-transform: translateY(200px) scale(0);
        transform: translateY(200px) scale(0);
        background: #ff00ff;
    }

    50% {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        background: #ffffff;
    }

    100% {
        -webkit-transform: translateY(-200px) scale(0);
        transform: translateY(-200px) scale(0);
        background: #0000ff;
    }
}

.alone {
    font-family: SentyCandy;
    color: #adadad;
    font-size: 26px;
    text-align: center;
    margin-left: 12px;
}

.table-nav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.table-nav>div {
    width: 28%;
}

.table-nav>div h3 {
    font-family: QuTi;
    line-height: 1.25;
    text-align: left;
}

.table-nav>div p {
    color: #4e6e8e;
    line-height: 1.7;
    letter-spacing: 0.8px;
    font-size: 15px;
}

pre {
    width: 78%;
    margin: 0 auto !important;
}

.top-pre {
    display: none;
}

.foot-pre {
    display: block;
    width: 1100px;
    height: 417px;
    border:0;
    transform:scale(1);
    overflow:hidden;
}

@media screen and (max-width: 500px) {
    .table-nav {
        width: 100%;
    }

    .top-pre {
        display: block;
    }

    .foot-pre {
        display: none;
    }

    pre {
        width: 100%;
        overflow: hidden !important;
    }
}